@charset "utf-8";
/* CSS Document */

/*----- TABS START -----*/
h2{
	background-color: black;
	display: flex;
	justify-content: center;
}
h2 span{
	display: table-cell;
	padding-right: 2px;
	animation: text 3.25s linear infinite;
	font-style: italic;
}
h2 span:nth-child(1){
	animation-delay: 0s;
}
h2 span:nth-child(2){
	animation-delay: 0.25s;
}
h2 span:nth-child(3){
	animation-delay: 0.5s;
}
h2 span:nth-child(4){
	animation-delay: 0.75s;
}
h2 span:nth-child(5){
	animation-delay: 1s;
}
h2 span:nth-child(6){
	animation-delay: 1.25s;
}
h2 span:nth-child(7){
	animation-delay: 1.50s;
}
h2 span:nth-child(8){
	animation-delay: 1.75s;
}
h2 span:nth-child(9){
	animation-delay: 2s;
}
h2 span:nth-child(10){
	animation-delay: 2.25s;
}
h2 span:nth-child(11){
	animation-delay: 2.50s;
}
h2 span:nth-child(12){
	animation-delay: 2.75s;
}
h2 span:nth-child(13){
	animation-delay: 3s;
}
.nav-tabs{
	background-color: black;
}
.nav-tabs li{
	padding: 10px 20px 4px 15px;
}
.nav-tabs li a{
	color: #fff;
	font-family: cambria;
	font-size: 20px;
}
.nav-tabs li a:hover{
	text-decoration: none;
	border-bottom: 4px solid #fff;
	transition: 0.5s;
}
.panels li{
	position: relative;
}
.panels li div{
	width: 100%;
	padding: 16% 0;
	text-align: center;
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.panels div.back{
	transform: rotateY(90deg);
}
.panels div.front{
	position: absolute;
}
.panels li:hover div.front{
	animation: flip 0.3s ease-in forwards;
}
.panels li:hover div.back{
	animation: flip 0.3s 0.3s ease-out forwards reverse;
}
@keyframes flip{
	from{transform: rotateY(0deg)}
	to{transform: rotateY(90deg)}
}
@keyframes text{
	0%,100%{
		color: #fff;
		filter: blur(2px);
		text-shadow: 0 0 10px #00b3ff,
					 0 0 20px #00b3ff,
					 0 0 40px #00b3ff,
					 0 0 80px #00b3ff,
					 0 0 120px #00b3ff,
					 0 0 200px #00b3ff,
					 0 0 300px #00b3ff,
					 0 0 400px #00b3ff,
					 0 0 550px #00b3ff,
					 0 0 650px #00b3ff,
					 0 0 750px #00b3ff,
					 0 0 900px #00b3ff;
	}
	5%,95%{
		color: #111;
		filter: blur(0px);
		text-shadow: none;
	}
}


/*----- TABS END -----*/

/*----- MARIO CSS START -----*/
.sky{
	height: 25vh;
	width: 100%;
	background-color: skyblue;
	position: relative;
}
.sky img:nth-child(1){
	width: 180px;
	opacity: 0.5;
	position: absolute;
	left: -30px
	top: 20px;
	animation-name: cloud;
	animation-duration: 100s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.sky img:nth-child(2){
	width: 110px;
	position: absolute;
	top: 0px;
	animation-name: cloud;
	animation-duration: 150s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.sky img:nth-child(3){
	width: 120px;
	position: absolute;
	left: 50%;
}
.grass{
	box-sizing: border-box;
	height: 25vh;
	width: 100%;
	background-color: forestgreen;
}
.road{
	box-sizing: border-box;
	height: 35vh;
	width: 100%;
	background-color:dimgrey;
	position: relative;
	border-top: 10px solid gray;
	border-bottom: 10px solid gray;
}
.line{
	box-sizing: border-box;
	width: 100%;
	border: 5px dashed white;
	position: absolute;
	top: 45%;
}
.mario{
	width: 80px;
	position: absolute;
	top: -30px;
	left: -10px;
	animation: drive 10s both linear infinite;
}
.luigi{
	width: 80px;
	position: absolute;
	top: 55%;
	left: -10px;
	animation: drive 10s both linear infinite reverse;
}
.luigi1{
	width: 80px;
	position: absolute;
	top: 15px;
	left: -10px;
	animation: drive 5s both ease-in-out infinite, jump 1s 2s ease;
}

@keyframes drive{
	from{
		transform: translateX(-200px);
	}
	to{
		transform: translateX(1800px);
	}
}
@keyframes cloud{
	from{transform: translateX(0px);}
	to{transform: translateX(1600px);}
}
@keyframes jump{
	0%{top:15px}
	50%{top: -15px}
	100{top: 15px}
}
/*----- MARIO CSS END -----*/